</div>
<div class="modal-window-fullscreen fade-in gallery-modal" data-modal="gallery-modal" >
   <div class="container">
       <div class="modal-content">
           <a href="#" id="close_gallery" class="close" data-close-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect"><i
                   class="icon icon-close"></i></a>
           <div class="gallery-modal__arrow swiper-button-next">
               <img src="../../img/icons/arrow-slider.svg" alt="">
           </div>
           <div class="gallery-modal__arrow swiper-button-prev">
               <img src="../../img/icons/arrow-slider.svg" alt="">
           </div>
           <div class="swiper gallery-modal__slider" id="gallery-modal__slider">
               <div class="swiper-wrapper">
               </div>
           </div>
       </div>
   </div>
</div>
<div class="modal-window-fullscreen fade-in choose-modal" data-modal="choose-modal" >
    <div class="container">
        <div class="modal-content">
            <div class="modal-header__block">
                <div class="modal-header__text">
                    <h2>Выберите размер,<br class="hide-desktop"> цвет и количество</h2>
                    <p id="head_item_name" class="body-16"></p>
                </div>
                <div class="modal-header__close body-16" data-close-modal-button="choose-modal" data-effect-type="open-modal-fade-effect">
                    <span id="close_choose_modal" class="body-16">Закрыть</span>
                </div>
            </div>
            <div class="modal-form-wrapper">
                <form action="/ajax/chosen" class="choose-form" id="modal_sizes"><!-- js content --></form>
            </div>
        </div>
    </div>
 </div>
<div class="modal-window-fullscreen fade-in status-item-send-modal">
    <div class="container">
        <div class="modal-content">
            <div class="modal-content-status">
                <div class="form-message-success cool">
                    <div class="form-info-success">
                        <span class="body-16 close-status-modal">Закрыть</span>
                        <div class="icon-block"><i class="icon icon-checked"></i></div>
                        <h4 class="message-title">Отлично</h4>
                        <p class="message-subtitle">Ваш товар добавлен в корзину</p>
                        <div class="buttons-block">
                            <a href="/cart" class="button link-to-cart">Перейти в корзину</a>
                            <a href="https://primomarket.internetlab.ru/vesna-leto-2021/polo/4/" class="button link-to-product">Продолжить покупки</a>
                        </div>
                    </div>
                </div>
                <div class="form-message-success error hide">
                    <div class="form-info-success">
                        <span class="body-16 close-status-modal">Закрыть</span>
                        <div class="icon-block error"><i class="icon icon-close"></i></div>
                        <h4 class="message-title">Ошибка</h4>
                        <p class="message-subtitle">Попробуйте ещё раз</p>
                        <div class="buttons-block">
                            <a href="/cart" class="button link-to-cart">Перейти в корзину</a>
                            <a href="https://primomarket.internetlab.ru/vesna-leto-2021/polo/4/" class="button link-to-product">Продолжить покупки</a>
                        </div>
                    </div>
                </div>
                <div class="loader-wrap login-loader hide" id="product_loader">
                    <div class="loader-block">
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>