<!DOCTYPE html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

   <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
   <link rel="manifest" href="/favicon/site.webmanifest">
   <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
   <meta name="msapplication-TileColor" content="#da532c">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="#ffffff">
   <link href="css/style.bundle.css?v=1" rel="stylesheet" />
   
   <title>
      <%=title%>
   </title>
</head>

<body>

   <div class="header-mobile hide-desktop" id="header_mobile">
      <div class="container">
         <div class="header-mobile-content">
            <div class="header-mobile__icons-wrapper">
               <i class="icon icon-cart"></i>
               <i class="icon icon-profile" id="header_profile_icon">
                  <div class="user-select hide">
                     <a href="/profile">Мой профиль</a>
                     <a href="/exit">Выйти</a>
                  </div>
               </i>
            </div>
            <a href="/primoempiratore/" class="logo-mobile"></a>
            <div class="header-mobile-content__language-block">
              <div id="laguage_select_mobile" class="header-span-wrapper">
                 <span value="1">Русский</span>
                 <div data-language-dropdown data-settings='[{"text":"Italian","value":"\/it\/","selected":"false"},{"text":"\u0420\u0443\u0441\u0441\u043a\u0438\u0439","value":"\/","selected":"true"},{"text":"English","value":"\/en\/","selected":"false"}]'></div>
            </div>
               <i class="icon icon-arrow-down-header"></i>
               <div class="languages hide">
                  <span value="1">Русский</span>
                  <span value="2">English</span>
                  <span value="3">Italian</span>
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="body">
      <div class="header hide-mobile">
         <div class="container">
            <div class="header-content">
               <a href="/primoempiratore/" class="logo"></a>
               <div class="header-ui">
                  <div class="header-ui__cart">
                    <a href="/cart.html"> <i class="icon icon-cart"></i>
                     <span>Корзина</span></a>
                     <p class="header-ui__count hide">100</p>
                  </div>
                  <div class="header-ui__user" id="header_email">
                     <i class="icon icon-profile"></i>
                     <span>username@mail.com</span>
                     <div class="user-select hide">
                        <span>Мой профиль</span>
                        <span>Выйти</span>
                     </div>
                  </div>
                  <div class="header-ui__language">
                     <div class="custom-select">
                        <span id="laguage_select" value="1">Русский</span>
                     </div>
                     <div data-language-dropdown data-settings='[{"text":"Italian","value":"\/it\/","selected":"false"},{"text":"\u0420\u0443\u0441\u0441\u043a\u0438\u0439","value":"\/","selected":"true"},{"text":"English","value":"\/en\/","selected":"false"}]'></div>
                     <i class="icon icon-arrow-down-header"></i>
                  </div>
                  <div class="languages hide">
                     <span value="1">Русский</a></span>
                     <span value="2">English</span>
                     <span value="3">Italian</span>
                  </div>
               </div>
            </div>
         </div>
      </div>