<% var data={ title: "Primoimperatore" , type: "" , footer: "bg-gray" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="header-mobile-margin hide-desktop"></div>
<div class="section">
   <div class="container mobile-off">
      <h1 class="mobile-padding" >Корзина</h1>
      <div class="cart-wrapper">
         <div class="cart-orders-wrapper" id="orders_list">
         
         </div>
         <div class="cart-orders-info">
            <h4 class="cart-orders-info__head hide-print">Сумма заказа</h4>
            <div class="info-orders">
               <h4 class="cart-orders-info__head-print">Сумма заказа</h4>
               <div class="orders-count">
                  <span class="body-16 color-gray2">Товаров:</span>
                  <span class="body-16" id="orders_count">0</span>
               </div>
               <div class="orders-cost">
                  <span class="body-16 color-gray2">Итого:</span>
                  <span class="body-16" id="orders_price">0</span>
               </div>
            </div>
            <div class="hr hide-print"></div>
            <button class="button submit-order hide-print" id="submit_order">Подтвердить заказ</button>
            <div class="additional-buttons">
               <button id="pdf_button" class="button white hide-print">Сохранить в PDF</button>
               <button class="button white inactive hide-print">Сохранить XLS</button>
            </div>
         </div>
      </div>
   </div>
</div>
<input type="hidden" id="lang" value="ru">


<%= _.template(require('./../includes/footer.html').default)(data) %>