<% var data={ title: "Primoimperatore" , type: "" , footer: "bg-gray" }; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>

    <div class="header-mobile-margin hide-desktop"></div>

    <div class="modal-window">
      <div class="login-wrapper">
         <form data-request="/ajax/login" action="#login" id="login_form" class="login-form" autocomplete="off">
            <div class="headline-1 margin-bottom-11px">Вход</div>
            <label class="field field-input item email-label">
               <input class="input-text placeholder validate" id="login_email"
                  data-placeholder="Электронная почта" data-validate="email"
                  type="email" name="login_form_name">
                <p class="error-message hide"></p>
           </label>
           <label class="field field-input item password-label">
            <i class="icon icon-close-eye" id="show_pass"></i>
               <input class="input-text placeholder validate"
                  data-placeholder="Пароль" data-validate="required" id="login_password"
                   type="password" name="login_form_password">
               <p class="error-message hide"></p>
           </label>
   
            <button class="button margin-bottom-22px" type="submit">Войти</button>
            <div class="reset-password-link">
               <a href="/restore.html">Восстановить пароль</a>
            </div>
         </form>
         <div class="loader-wrap login-loader hide" id="login_loader">
            <div class="loader-block">
               <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
         </div>
   
         <div class="form-message hide">
            <div class="form-info">
                <span class="message-icon error form-icon-cancel"><i class="icon icon-warning"></i></span>
                <p class="message-title">Ошибка</p>
                <p class="message-subtitle">Вы ввели неправильный пароль</p>
                <button class="button" id="close_error">Закрыть</button>
            </div>
        </div>
   
      </div>
    </div>

    <%= _.template(require('./../includes/footer.html').default)(data) %>