<% var data={ title: "Primoimperatore" , type: "" , footer: "bg-gray" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="header-mobile-margin hide-desktop"></div>

<input type="hidden" id="lang" value="ru">

<div class="section">
   <div class="container">
      <div class="item-wrapper">
         <div class="item-block">
            <div class="item-block__head">
               <p class="item-block__head-description body-12" id="item_head_collection_name_article"></p>
               <h1 class="item-block__head-info headline-1" id="item_head_name"></h1>
               <p class="item-block__head-article body-12" id="item_head_article"></p>
            </div>
            <div class="item-block__content">
               <div class="item-block__content-gallery hide" id="small_gallery_desktop"></div>
               <div class="item-block__content-gallery hide-desktop" id="small_gallery_mobile"></div>
               <div class="item-block__content-big-picture hide-mobile swiper" id="slider_trigger" data-open-modal-button="gallery-modal"
               data-effect-type="open-modal-fade-effect">
                  <div class="swiper-wrapper new-slider"></div>
                  <div class="swiper-pagination"></div>
                  <div class="gallery-modal__arrow swiper-button-next">
                     <img src="../../img/icons/arrow-slider.svg" alt="">
                  </div>
                  <div class="gallery-modal__arrow swiper-button-prev">
                     <img src="../../img/icons/arrow-slider.svg" alt="">
                  </div>
                  <div class="item-block__content-big-picture-icon hide-mobile"></div>
               </div>
               <div class="item-block__content-item-info">
                  <div class="color-popup hide">
                     <div class="wrap">
                        <div class="background"></div>
                        <div class="text"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="table-wrapper">
            <table class="choose-table" id="chose_item_table">

            </table>
         </div>
         <div class="final-price"></div>
         <div class="item-same-things__wrapper hide-mobile">
            <h2 class="item-same-things__head headline-2">Футболки из этой коллекции</h2>
            <div class="item-same-things__cards" id="recomentadions_list"></div>
         </div>
      </div>
   </div>
   <input id="message_id" data-product-id="2" type="hidden">
</div>

<div class="modal-sending-status hide" id="table_sending_status">
   <div class="modal-after-product">
      <div class="modal-content-status">
         <div class="form-message-success cool hide">
            <div class="form-info-success">

            </div>
         </div>
         <div class="form-message-success error hide">
            <div class="form-info-success">

            </div>
         </div>
         <div class="loader-wrap login-loader" id="product_loader">
            <div class="loader-block">
               <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
         </div>
      </div>
   </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>