<% var data={ title: "Primoimperatore" , type: "" , footer: "bg-gray" }; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="header-mobile-margin hide-desktop"></div>

<div class="section">
   <div class="container mobile-off">
      <h1 class="mobile-padding hide-print" >Мой профиль</h1>
      <div class="profile-orders-wrapper" id="profile_orders_list">

      </div>
   </div>
</div>

<input type="hidden" id="lang" value="it">
 



<%= _.template(require('./../includes/footer.html').default)(data) %>