<% var data={ title: "Primoimperatore" , type: "" , footer: "bg-gray" }; %>
    <%= _.template(require('./../includes/header.html').default)(data) %>

    <div class="header-mobile-margin hide-desktop"></div>


    <div class="section">
        <div class="container">
            <h1>Каталог весна-лето 2021</h1>
          <div>
            <div class="switcher-control">
                <label class="switcher-view">
                    <input type="checkbox" data-toggle-view="">
                    <div class="bg-slide-item"></div>
                    <div class="item view-card">
                        <div class="icon icon-squares"></div>
                    </div>
                    <div class="item view-row">
                        <div class="icon icon-lines"></div>
                    </div>
                </label>
               </div>
    
               <div class="switcher">
                <label class="switcher-gray">
                    <input type="checkbox" data-toggle-view="">
                    <div class="bg-slide-item"></div>
                </label>
               </div>
               <div class="switcher">
                <label class="switcher-gray">
                    <input type="checkbox" data-toggle-view="">
                    <div class="bg-slide-item"></div>
                </label>
               </div>
          </div>

           <div class="checkbox-container">
            <input type="checkbox" class="custom-checkbox" id="custom">
            <label for="custom"></label>
        </div>

        <div class="filter-item active">
            Джинсы
        </div>
        <div class="filter-item">
            Спортивные костюмы
        </div>
        <label class="field">
            <input class="input-text placeholder validate ready" value="" placeholder="Placeholer" autocomplete="off" 
            autocorrect="off" autocapitalize="none">
        </label>

        <div class="field-count">
            <label class="field numberic">
                <input class="input-count placeholder validate" value="" 
                data-placeholder="0" data-validate="number" type="number"
                maxlength="3">
                <span>шт</span>
            </label>
        </div>
       
        <div class="hr-dashed"></div>
        <br>
        <br>
        <br>
        <div class="hr"></div>

        <div class="size-button">
            <span class="size-button__size">48</span>
            <span class="size-button__price">1 500 €</span>
        </div>

        </div>
    </div>



    <!-- Если логин и рестор будет модалкой в футере 
        
        <div class="modal-window">
   <div class="login-wrapper hide">
      <form action="#login" id="login_form" class="login-form">
         <div class="headline-1 margin-bottom-11px">Вход</div>
         <label class="field field-input item email-label">
            <input class="input-text placeholder validate" id="login_email"
               data-placeholder="Электронная почта" data-validate="email"
               type="email" name="login_form_name">
             <p class="error-message hide"></p>
        </label>

        <label class="field field-input item password-label">
         <i class="icon icon-close-eye" id="show_pass"></i>
            <input class="input-text placeholder validate"
               data-placeholder="Пароль" data-validate="required" id="login_password"
                type="password" name="login_form_password">
            <p class="error-message hide"></p>
        </label>

         <button class="button margin-bottom-22px" type="submit">Войти</button>
         <div class="reset-password-link">
            <a href="#">Восстановить пароль</a>
         </div>
      </form>
      <div class="loader-wrap login-loader hide" id="login_loader">
         <div class="loader-block">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
         </div>
      </div>

      <div class="form-message hide">
         <div class="form-info">
             <span class="message-icon error form-icon-cancel"><i class="icon icon-warning"></i></span>
             <p class="message-title">Ошибка</p>
             <p class="message-subtitle">Вы ввели неправильный пароль</p>
             <button class="button" id="close_error">Закрыть</button>
         </div>
     </div>

   </div>

   <div class="restore-wrapper">
      <form action="#restore_pass" id="restore_form" class="restore_form">
         <div class="headline-1 margin-bottom-11px">Восстановить пароль</div>
         <label class="field field-input item email-label">
            <input class="input-text placeholder validate" id="restore_email"
               data-placeholder="Электронная почта" data-validate="email"
               type="email" name="restore_form_name">
             <p class="error-message hide"></p>
        </label>
   
         <button class="button margin-bottom-22px" type="submit">Получить пароль</button>
         <div class="enter-link">
            <a href="#">Войти</a>
         </div>
         </form>

         <div class="loader-wrap restore-loader hide" id="restore_loader">
            <div class="loader-block">
               <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
         </div>

         <div class="form-message hide">
            <div class="form-info">
                <span class="message-icon error form-icon-cancel"><i class="icon icon-warning"></i></span>
                <p class="message-title">Ошибка</p>
                <p class="message-subtitle">Вы ввели неправильный пароль</p>
                <button class="button" id="close_error">Закрыть</button>
            </div>
        </div>
   </div>
</div> -->
    





<%= _.template(require('./../includes/footer.html').default)(data) %>