.container.mobile-off{
   @include mobile {
      padding:0;
   }

   .cart-title{
      @media print {
         display: none;
      }

      @include mobile {
         padding:0 12px;
         font-size: 24px;
         line-height: 31px;
      }
   }
}

.cart-wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   position: relative;

   @include mobile {
      flex-direction: column;
   }

   .cart-orders-wrapper {
      display: flex;
      flex-direction: column;
      width: 66%;

      @include mobile {
         width: 100%;
      }

      .cart-order-item {
         display: flex;
         width: 100%;
         height: 100%;
         background-color: white;
         border-radius: 4px;
         padding-left: 21px;
         padding-top: 24px;
         padding-bottom: 27px;
         padding-right: 69px;
         margin-bottom: 28px;

         @media print {
            margin-bottom: 0 !important;
         }
         
         @include mobile {
            padding: 14px;
            flex-direction: column;
            border-radius: 0;
            margin-bottom:35px;
         }

         .cart-gallery-preview-block {
            display: flex;
            width: 77px;
            height: 100%;
            margin-right:31px;
            position: relative;

            @include mobile {
               width: 100%;
            }

            .print-title-block{
               @media print {
                  display: flex;
                  align-items: center;
               }
            }

            .print-image{
               display:none;

               @media print {
                  width: 77px;
                  height: 119px;
                  display: block;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  border-radius: 4px;
               }
            }

            .cart-gallery-preview {
               display: block;
               width: 100%;
               height: 119px;
               width: 77px;
               border-radius: 4px;
               background-image: url("../img/test-photos/big-man.jpg");
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
               position: relative;
               cursor: pointer;
               flex-shrink: 0;

               .big-picture-icon{
                  display: block;
                  height: 18px;
                  bottom: 10px;
                  position: absolute;
                  right: 9px;
                  width: 18px;
                  background-image: url('../img/icons/fullscreen.svg');
               }
            }

            .simple-order__head,
            .simple-order__head-article{
               font-style: normal;
               font-weight: 600;
               font-size: 20px;
               line-height: 26px;
               position: relative;
               width: fit-content;
               border-bottom: 1px solid black;

               @media print {
                  border: none;
               }
            }
         }

         .cart-simple-order {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .simple-order__head{
               font-style: normal;
               font-weight: 600;
               font-size: 20px;
               line-height: 26px;
               position: relative;
               width: fit-content;

               &:after{
                  content: " ";
                  display: block;
                  position: absolute;
                  height: 1px;
                  width: 100%;
                  background: black;
                  bottom: 0;
                  left:0;

                  @media print {
                     display: none;
                  }
               }
            }

            .hr{
               margin-top:17px;
               margin-bottom:10px;
            }

            .chosen-wrapper{
               display: flex;
               flex-direction: column;
               width: 100%;

               .chosen-item{
                  display: flex;
                  position: relative;
                  align-items: center;
                  justify-content: space-between;



                  .chosen-item-left{
                     @media print{
                        display: flex;
                        width: 75%;
                        justify-content: flex-start;
                     }

                    
                  }

                  .chosen-item-right{
                     display: flex;
                     align-items: center;
                     justify-content: space-between;
                     width:64%;

                     @include desktop-smaller{
                        width:70%;
                     }

                     @include mobile {
                        width: 47%;
                     }

                     @media (max-width: 330px){
                        width: 43%;
                     }

                     @media print {
                        width: 25%;
                        justify-content: end;
                     }

                     .right-block-print{
                        @media print{
                           display: flex;
                           align-items: center;
                        }
                     }
                  }

                  .mobile-flex-wrapper{
                     display: flex;
                     align-items: center;
                  }

                  &__color{
                     display: flex;
                     position: relative;
                     align-items: center;
                     margin-bottom: 5px;

                     @media print{
                        width: 33.333%;
                     }

                     .round-color-print{
                        display: none;

                        @media print {
                           display: inline;
                           color:$colorGray4;
                           margin-right:4px;
                        }
                     }
            
                     .round-color{
                        width: 21px;
                        height: 21px;
                        flex-shrink: 0;

                        @media print {
                           display: none;
                        }
                     }

                     .round-color__name{
                        max-width: fit-content;
                     }
                  }

                  .item-size,
                  .item-cost{
                     span{
                        margin-left:8px;
                     }

                     span.color-gray2.body-16{
                        margin-left:0;

                        @media print {
                           color: $colorGray4;
                        }
                     }
                  }

                  .item-size{
                     @media print {
                        width: 33.33333%;
                        margin-left: 20px;
                     }
                  }


                  .item-cost{
                     margin-right: auto;

                     @media print {
                        margin-right:0;
                        width: 40%;
                     }
                  }

                  .count-print{
                     display:none;

                     @media print {
                        display:inline;
                        color: $colorGray4;
                        margin-right: 10px;
                     }
                  }

                  .remove-item{
                     display: flex;
                     height: 34px;
                     width: 34px;
                     border-radius:50%;
                     background-color:$colorGray5;
                     align-items: center;
                     justify-content: center;
                     cursor: pointer;
                     flex-shrink: 0;

                     @media print {
                        display: none;
                     }

                     i{
                        display: flex;
                        font-size: 12px;
                        color: $colorGray2;
                     }
                  }

                  .field-count{
                     margin-right:30px;

                     @include desktop-smaller{
                        margin-right: 15px;
                     }

                     @media (max-width:330px){
                        margin-right: 0;
                     }
                     .label{
                        display: none;
                     }
                     flex-shrink: 0;

                     @media print {
                        margin-right:0;
                     }
                  }

                  .input-count{
                     border: 1px solid #41A0FF;

                     @media print {
                        border:none;
                     }
                  }

                  .field-count.empty .input-count{
                     border: 1px solid #ececec;
                  }
               }

               .field-input{
                  margin-top:10px;
                  margin-bottom:20px;

                  input{
                     border-bottom: 2px solid black;
                  }

                  &.empty{
                     input{
                        border-bottom: 1px solid $colorGray3;
                     }
                  }
               }

               .simple-order-info{
                  display: flex;
                  width:100%;
                  align-items: center;
                  justify-content: flex-end;

                  @media (max-width: 370px){
                     flex-direction: column;
                     align-items: end;
                  }

                  .simple-order__count,
                  .simple-order__cost{
                     display: flex;
                     align-items: center;

                     span{
                        @include mobile {
                           font-size: 17px;
                        }
                     }
                  
                     .number{
                        margin-left: 10px;
                     }
                  }

                  .simple-order__count{
                     @media (max-width: 370px){
                        margin-bottom:10px;
                     }
                     .order-count{
                        margin-left:10px;
                     }
                  }

                  .simple-order__cost{
                     margin-left:37px;

                     @include mobile {
                        margin-left: 20px;
                        flex-wrap: wrap;
                        justify-content: start;
                     }

                     .headline-4.color-gray4{
                        margin-right:10px;
                     }
                  }
               }

               .print-order-info{
                  display: none;

                  @media print {
                     display:flex;
                     flex-direction: column;
                  }
               }

               .hr-print{
                  display: none;
                  @media print {
                     display:block;
                     margin-top: 14px;
                     margin-bottom: 14px;
                  }
               }
            }

            .between-items{
               margin-top:10px;
               margin-bottom:10px;
            }

           
         }

         .print-order-title{
            display: none;

            @media print {
               display:flex;
               flex-direction: column;
            }
         }
      }
   }

   .cart-orders-info{
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      background-color: white;
      width: 32%;
      height: fit-content;
      padding:32px 28px 28px 28px;

      @media print {
         padding-top: 0;
      }

      @include mobile {
         width: 100%;
         padding: 32px 14px 14px 14px;
      }

      &__head{
         border-bottom: 24px;
         line-height:26px;

         &-print{
            display: none;

            @media print {
               display:inline;
               width: -webkit-fill-available;
            }
         }
      }

      .info-orders{
         display: flex;
         flex-direction: column;
         width: 100%;
         height: auto;

         @media print {
            flex-direction: row;
         }

         .orders-count,
         .orders-cost{
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media print {
               justify-content: end;
               span{
                  margin-right: 5px;
               }

               span:last-child {
                  font-weight: 700;
               }
            }
         }

         .orders-count{
            margin-bottom: 9px;

            @media print {
               width: fit-content;
            }
         }

         .orders-cost{
            @media print {
               min-width: fit-content;
            }
         }
      }

      .hr{
         margin-top:27px;
         margin-bottom: 19px;
      }

      .submit-order{
         margin-bottom: 19px;
      }

      .additional-buttons{
         display: flex;
         width: 100%;
         justify-content: space-between;

         .button.white{
            width: 48%;

            @include mobile {
               font-size: 14px;
            }
         }
      }
   }
}

.hr.mobile{
   margin-top:26px;
   margin-bottom:12px;

   @media print {
      page-break-after: avoid;
      page-break-before: avoid;
   }
}

.item-cost.hide-desktop{
   margin-top: 5px;

   @media print{
      margin-top: 0;
   }
}

.mobile-padding{
   @include mobile {
      padding-left:12px;
   }
}

.cart-noorders-block{
   display: block;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   margin-top: 150px;

   .noorders-title{
      text-align:center;
      margin-bottom: 14px;
   }

   .noorders-text{
      color:$colorGray2;
      text-align:center;
   }

   .noorders-link{
      border-bottom: 1px solid $colorGray2;
      color:$colorGray2;
   }
}

.print-date{
   display: none;

   @media print{
      display: block;
      margin-bottom: 14px;
      margin-left: 14px;
   }
}