.catalogue-title {
   display: block;
   position: relative;
   width: fit-content;

   h1 {
      @include mobile {
         font-size: 24px;
         line-height: 31px;
      }
   }

   @include mobile {
      p {
         font-size: 14px;
      }
   }
}

.catalogue-filters {
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
   margin-bottom: 10px;

   @include mobile {
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
   }

   .filter-item {
      margin-right: 10px;
      margin-bottom: 10px;

      @include mobile {
         font-size: 14px;
         padding: 8px 16px;
         margin-right: 8px;
      }
   }

   .filter-item:last-child {
      margin-right: 0;
   }
}

.catalogue {
   display: flex;
   position: relative;
   flex-wrap: wrap;
   margin: 0 -12px;
   margin-top: -17px;

   /* @media (min-width: 1023px) and (max-width: 1024px),
   (min-height:1365px) and (max-height:1366px) {
      margin: -12px -6px 0;
   } */

   @include tablet {
      margin: -12px -6px 0;
   }

   @include mobile {
      margin: -12px -6px 0;
   }

   .catalogue-card {
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc(20% - 24px);
      height: inherit;
      background-color: white;
      border-radius: 4px;
      padding: 10px;
      margin-right: 12px;
      margin-left: 12px;
      margin-bottom: 17px;
      margin-top: 17px;

      /*  @media (min-width: 1023px) and (max-width: 1024px),
      (min-height:1365px) and (max-height:1366px) {
         width: 232px;
      } */

      @include tablet {
         height: auto;
         margin-right: 6px;
         margin-left: 6px;
         margin-top: 6px;
         margin-bottom: 6px;
         padding: 11px;
         width: calc(33.333% - 12px);
      }

      @include only-mobile {
         height: auto;
         margin-right: 6px;
         margin-left: 6px;
         margin-top: 6px;
         margin-bottom: 6px;
         padding: 11px;
         width: calc(50% - 12px);
      }

      a {
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         .hr-and-price-wrapper {
            display: flex;
            flex-direction: column;
         }
      }

      .upper-card-wrapper {
         display: flex;
         position: relative;
         flex-direction: column;
      }

      .catalogue-card__image {
         display: block;
         position: relative;
         width: 100%;
         background-image: url('../img/man.jpg');
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         border-radius: 4px;


         &:before{
            content: "";
            float: left;
            display: block;
            padding-top:143%;
         }

         @include mobile {
            width: 100%;
            height: auto;
         }
      }

      .catalogue-card__name {
         margin-top: 7px;
         margin-bottom: 0px;
         word-wrap: break-word;

         @include mobile {
            font-size: 14px;
            margin-top: 11px;
         }
      }

      .catalogue-card__description {
         @extend .body-12;
         color: $colorGray2;

         @include mobile {
            font-size: 12px;
         }
      }

      .hr-dashed {
         margin-top: 18px;
         margin-bottom: 10px;
         background-image: linear-gradient(90deg, #cfcfcf 55%, hsla(0, 0%, 100%, 0) 0);

         @include mobile {
            margin-bottom: 11px;
            margin-top: 11px;
         }
      }

      .catalogue-card__price-block {
         display: flex;
         position: relative;
         justify-content: space-between;

         span {
            @include mobile {
               font-size: 14px;
            }
         }

         i {
            transform: rotate(-90deg);
            font-size: 12px;
            width: 12px;
            height: 7px;
            position: absolute;
            bottom: 8px;
            right: 0;
         }
      }
   }

   /* .catalogue-card:nth-child(5n) {
      margin-right: 0px;
   } */
}