@font-face {
   font-family: 'TT Firs Neue';
   src: url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
   url('../fonts/TTFirsNeue-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'TT Firs Neue';
   src: url('../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
   url('../fonts/TTFirsNeue-Bold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}