.header-mobile {
   height: 60px;
   display: block;
   position: fixed;
   z-index: 900;
   left: 0;
   right: 0;
   top: 0;
   background: white;
   border-bottom: 1px solid rgba(239, 239, 239, 1);

   @media print {
      display: none;
   }

   &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
   }

   &-margin {
      margin: 0;
      height: 60px;
   }

   .header-mobile__icons-wrapper {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;

      a{
         z-index: 901;
      }

      .icon-cart,
      .icon-profile {
         font-size: 18px;
         width: 44px;
         height: 44px;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .icon-cart {
         margin-right: 7px;
      }

      .icon-profile{
         position: relative;

         .user-select{
            position: absolute;
            top: 51px;
            min-width: max-content;
            display: flex;
            flex-direction: column;
            left: 0px;
            background: white;
            padding: 10px;
            border-radius: 4px;

            a{
               font-size: 14px;
               line-height: 30px;
               font-style: normal;
            }
         }
      }
   }

   .logo-mobile {
      display: block;
      margin: 0;
      width: 72px;
      height: 27.5px;
      background: url('../img/logo-mobile.svg') no-repeat center;
      background-size: contain;
      align-self: center;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
   }

   .header-mobile-content__language-block {
      min-width: 95px;
      text-align: end;
      display: block;
      position: relative;
      margin-left: auto;

      .header-span-wrapper{
         position: absolute;
         top: -22px;
         right: 12px;
         height: 60px;
         display: flex;
         align-items: center;
         font-size: 12px;
         -webkit-touch-callout: none; 
         -webkit-user-select: none;  
         -khtml-user-select: none;  
         -moz-user-select: none;   
         -ms-user-select: none;      
         user-select: none; 
         
      }

      i {
         font-size: 7px;
         transform: rotate(0);

         &.rotate {
            transform: rotate(180deg);
         }
      }

      .languages {
         background-color: #fff;
         border-radius: 4px;
         cursor: pointer;
         padding: 10px;
         position: absolute;
         left: 27px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         top: 35px;
         font-size: 14px;

         span {
            line-height: 30px;

            &.active-language{
               pointer-events: none;

               a{
                  color:$colorGray4;
               }
            }
         }
      }
   }
}