.header {
   display: block;
   position: relative;
   z-index: 100;
   width: 100%;
   height: 60px;
   margin: 0;
   background: transparent;
   opacity: 1;
   border-bottom: 1px solid rgba(239, 239, 239, 1);

   @media print {
      display: none;
   }

   &-margin {
      height: 60px;
   }

   .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin: 0;
      width: 100%;
      height: 60px;

      .logo {
         display: block;
         margin: 0;
         width: 226px;
         height: 21px;
         background: url('../img/logo.svg') no-repeat center;
         background-size: contain;
      }

      .header-ui {
         display: flex;
         position: relative;
         align-items: center;
         margin: 0;

         & span {
            font-size: 14px;
         }

         .header-ui__cart {
            display: flex;
            position: relative;
            align-items: center;
            cursor: pointer;

            a{
               display: flex;
               align-items: center;
            }

            i {
               margin-right: 12px;
               font-size: 18px;
            }

            & span {
               margin-right: 45px;
               position: relative;
            }

            .header-ui__count {
               display: block;
               position: absolute;
               min-width: 19px;
               height: 13px;
               background-color: black;
               border-radius: 3px;
               top: -18px;
               left: 17px;
               color: white;
               font-size: 10px;
               text-align: center;
               line-height: 13px;
               padding: 0 1px;
            }
         }

         .header-ui__user {
            display: flex;
            position: relative;
            align-items: center;
            cursor: pointer;

            i {
               margin-right: 12px;
               font-size: 18px;
            }

            & span {
               margin-right: 45px;
            }
         }

         .header-ui__language {
            display: flex;
            position: relative;
            align-items: center;
            cursor: pointer;

            .custom-select {
               min-width: 74px;

               span {
                  margin-right: 18px;
                  opacity: 1;

                  &.noOpacity {
                     opacity: 0;
                  }
               }
            }

            i {
               transform: rotate(0);
               transition:transform 0.2s;
            }


            .header-ui__language-icon {
               display: block;
               position: relative;
               background-size: contain;
               width: 10px;
               height: 6px;
            }
         }

         .user-select {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 40px;
            right: 5%;
            width: 95%;
            background-color: white;
            border-radius: 4px;
            user-select: none;
            cursor: pointer;
            padding-bottom: 13px;

            span {
               padding-top: 13px;
               padding-left: 14px;

               @include desktop {
                  &:hover {
                     color: #979797;
                  }
               }
            }
         }

         .languages {
            background-color: #fff;
            border-radius: 4px;
            cursor: pointer;
            position: absolute;
            right: -4px;
            top: 40px;
            width: 96px;

            span {
               line-height: 12px;
               padding: 10px;
               width: 100%;
               display: block;
               user-select: none;

               @include desktop {
                  & a:hover {
                     color: $colorGray2;
                  }
               }
            }

            span.active-language{
               pointer-events: none;
               a{
                  color: $colorGray4;
               }
               @include desktop {
                  & a:hover {
                     color: black;
                  }
               }
            }
         }
      }
   }
}