.modal-window {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    background-color: #f2f3f2;

    .login-wrapper {
        width: 626px;
        height: 408px;
        background-color: white;
        border-radius: 4px;
        margin-top: 40px;
        padding: 40px 109px;
        position: relative;

        &.error {
            height: 287px;
        }

        @include mobile {
            margin-top: 27px;
            padding: 40px 20px;
            width: 100%;
        }

        .login-form {
            .reset-password-link {
                text-align: center;

                a {
                    @extend .body-16;
                    color: $colorGray3;
                }
            }

            .email-label {
                margin-bottom: 17px;
            }

            .password-label {
                margin-bottom: 28px;
                position: relative;

                i {
                    position: absolute;
                    top: 20px;
                    right: 13px;
                    font-size: 24px;
                    cursor: pointer;
                }
            }
        }
    }

    .restore-wrapper {
        width: 626px;
        height: 321px;
        background-color: white;
        border-radius: 4px;
        margin-top: 40px;
        padding: 40px 109px 29px 109px;
        position: relative;

        @include mobile {
            margin-top: 27px;
            padding: 40px 20px;
            width: 100%;
            height: 360px;
        }

        &.error {
            height: 287px;
        }

        &.success {
            height: 250px;
        }

        form {
            .button {
                margin-top: 28px;
            }

            .enter-link {
                @extend .body-16;
                text-align: center;

                a {
                    color: $colorGray3;
                }
            }
        }
    }
}

.modal-window-fullscreen {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform .6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;

    &.fade-in {
        opacity: 0;
        z-index: -12;
        transform: translateY(0);
        transition: opacity .6s ease;
    }

    &.fade-in-show {
        opacity: 1;
        z-index: 9999;
    }

    &.show {
        transform: translateY(0);
    }

    .container {
        margin: 0 auto;
        max-width: 730px;
        padding: 1px 10px;
        height: 100%;
        width: 100%;
    }

    .modal-content {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: calc(100% - 170px);
        margin: 85px auto !important;
        padding: 0 45px;
        box-sizing: border-box;
        border-radius: 0;

        .modal-caption-with-close {
            @include mobile {
                padding-right: 40px;
            }
        }
    }

    .modal-header {
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid #e9ecef;
        margin-bottom: 15px;

        .title {
            font-size: 20px;
            color: black;
        }
    }

    .modal-footer {
        margin-top: 15px;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: flex-end;
        padding: 15px 20px;
        border-top: 1px solid #e9ecef;

        .button {
            margin: 0;
            margin-left: 10px;
        }
    }

    .modal-info {
        padding: 0 20px;
    }

    .content {
        display: block;
        position: absolute;
        z-index: 800;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        overflow: auto;

        @include mobile {
            padding-bottom: 50px;
        }
    }

    .close {
        border-radius: 14px;
        color: #979797;
        cursor: pointer;
        display: flex;
        font-size: 40px;
        height: 40px;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        transition: .1s linear;
        width: 40px;
        z-index: 7;

        i {
            font-size: 30px;
            color: white;
        }

        @include mobile {
            padding-top: 5px;
        }
    }

    .close-btn {
        padding: 10px 15px;
        font-size: 15px;
        white-space: nowrap;
        line-height: 1.5;
        color: white;
        background-color: #6c757d;
        border: 0;

        @include desktop {
            &:hover {
                background-color: darken(#6c757d, 10%)
            }
        }
    }

    .close-mobile-button {
        position: absolute;
        z-index: 900;
        left: 50%;
        bottom: 20px;
        margin: 0;
        transform: translateX(-50%);
    }

    .modal-caption-with-close {
        position: relative;
        padding-right: 75px;

        &.modal-caption-with-close_small {
            padding-right: 45px;
        }
    }

    &.choose-modal {
        .container {
            max-width: 800px;
            padding: 0;

            .modal-content {
                background-color: #f2f3f2;
                padding: 34px 43px;
                display: flex;
                flex-direction: column;
                height: auto;
                min-height: 800px;

                @include mobile {
                    margin: 0 !important;
                    padding: 22px;
                    padding-bottom: 95px;
                }

                .modal-header__block {
                    display: flex;
                    position: relative;
                    justify-content: space-between;

                    .modal-header__text {
                        h2 {
                            margin-bottom: 6px;

                            @include mobile {
                                font-size: 24px;
                                line-height: 31px;
                                margin-bottom: 0;
                            }
                        }

                        p {
                            margin-top: 0;
                            color: $colorGray2;
                            margin-bottom: 18px;

                            @include mobile {
                                margin-top: 15px;
                                margin-bottom: 28px;
                            }
                        }
                    }

                    .modal-header__close {
                        color: $colorGray2;

                        span {
                            cursor: pointer;
                        }
                    }
                }

                .modal-form-wrapper {
                    .choose-block-wrapper {
                        display: block;
                        position: relative;
                        margin-bottom: 8px;

                        .choose-block__head {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            position: relative;
                            border-radius: 4px;
                            background-color: white;
                            box-shadow: 0px 3px 6px rgb(0 0 0 / 5%);
                            padding: 12px 16px;

                            @include mobile {
                                border-radius: 8px;
                            }
                        }

                        &.open {
                            .choose-block__head {
                                box-shadow: none;
                                border-bottom: 1px solid $colorGray5;
                                border-radius: 4px 4px 0 0;
                            }

                            .choose-block__toggle {
                                display: block;
                                background-color: white;
                                box-shadow: 0px 3px 6px rgb(0 0 0 / 5%);
                                border-radius: 0 0 4px 4px;

                                .choose-block {
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 12px 18px;
                                    align-items: center;
                                    border-bottom: 1px solid $colorGray5;

                                    .color-block {
                                        display: flex;
                                        align-items: center;

                                        .color-name {
                                            font-size: 18px;
                                            line-height: 24px;

                                            @include mobile {
                                                font-size: 16px;
                                                line-height: 24px;
                                            }
                                        }
                                    }
                                }

                                .choose-cost {
                                    display: flex;
                                    justify-content: flex-end;
                                    font-size: 18px;
                                    padding-right: 16px;
                                    padding-top: 15px;
                                    padding-bottom: 12px;
                                    text-align: right;
                                }

                            }
                        }

                        .choose-block__toggle {
                            display: none;
                        }
                    }
                }

                .modal-footer__wrapper {
                    display: block;
                    position: relative;
                    width: 100%;
                    margin-top: 14px;
                    margin-top: auto;

                    h3 {
                        margin-top: 22px;
                        margin-bottom: 0;

                        @include mobile {
                            text-align: right;
                            margin-top: 8px;
                        }
                    }

                    .modal-footer-block {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        @include mobile {
                            flex-direction: column;
                        }

                        .text-block {
                            p {
                                margin: 0;
                            }

                            @include mobile {
                                align-self: flex-end;
                                margin-bottom: 16px;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;

                                p {

                                    font-size: 18px;
                                    text-align: right;
                                    line-height: 27px;

                                }
                            }
                        }

                        .button {
                            width: 175px;
                            justify-content: space-between;
                            padding: 0 30px;

                            @include mobile {
                                width: 100%;
                                justify-content: center;

                                i {
                                    margin-right: 14px;
                                }
                            }
                        }

                        .second-close-choose-modal {
                            @extend .body-16;
                            color: $colorGray2;
                            margin-top: 28px;
                        }
                    }
                }
            }
        }
    }
}