.profile-orders-wrapper{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-top:4px;

   .full-order-block{
      margin-bottom:12px;

      @include mobile {
         margin-bottom:40px;
      }

      &.dont-print{
         @media print {
            display: none;
         }
      }
   }

   .full-order-info-block{
      display: flex;
      justify-content: space-between;

      .info{
         display: flex;
         flex-direction: column;

         @include mobile {
            padding-left:12px;
         }

         .full-order-id{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            color: black;
         }

         .full-order-date{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: black;
         }
      }

      .buttons{
         display:flex;
         margin-bottom: 15px;

         .pdf-button,
         .xls-button{
            padding: 19px 22px;
         }

         .pdf-button{
            margin-right:12px;
            min-width: fit-content;
         }
      }
   }

   .cart-order-item {
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      height: 100%;
      margin-bottom: 28px;
      padding: 24px 69px 27px 21px;
      width: 100%;

      @media print{
         padding: 24px 69px 27px 0;
         flex-direction: column;
         page-break-inside: avoid;
      }

      @include mobile {
         padding: 14px;
         flex-direction: column;
         border-radius: 0;
         margin-bottom:35px;
      }
   }

    .cart-order-item:last-child{
      margin-bottom: 0;
   }

   .cart-gallery-preview-block {
      display: flex;
      width: 77px;
      height: 100%;
      margin-right:31px;
      position: relative;

      @media print {
         page-break-after: avoid;
         page-break-before: avoid;
         page-break-inside: avoid;
      }

      @include mobile {
         width: 100%;
      }

      .print-title-block{
         @media print {
            display: flex;
            align-items: center;
            page-break-after: avoid;
            page-break-before: avoid;
            page-break-inside: avoid;
         }
      }

      .print-image{
         display:none;

         @media print {
            width: 77px;
            height: 119px;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 4px;
            page-break-after: avoid;
            page-break-before: avoid;
            page-break-inside: avoid;
         }
      }

      .cart-gallery-preview {
         display: block;
         width: 100%;
         height: 119px;
         width: 77px;
         border-radius: 4px;
         background-image: url("../img/test-photos/big-man.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         position: relative;
         cursor: pointer;
         flex-shrink: 0;

         .big-picture-icon{
            display: block;
            height: 18px;
            bottom: 10px;
            position: absolute;
            right: 9px;
            width: 18px;
            background-image: url('../img/icons/fullscreen.svg');
         }
      }

      .simple-order__head,
      .simple-order__head-article{
         font-style: normal;
         font-weight: 600;
         font-size: 20px;
         line-height: 26px;
         position: relative;
         width: fit-content;
         border-bottom: 1px solid black;

         @media print {
            border: none;
         }
      }
   }

   .cart-gallery-preview {
     /*  background-image: url(../img/test-photos/big-man.jpg); */
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      flex-shrink: 0;
      height: 119px;
      position: relative;
      width: 100%;
      width: 77px;
   }

   .big-picture-icon {
      background-image: url(../img/icons/fullscreen.svg);
      bottom: 10px;
      display: block;
      height: 18px;
      position: absolute;
      right: 9px;
      width: 18px;
   }

   .print-image{
      display:none;

      @media print {
         width: 77px;
         height: 119px;
         display: block;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         border-radius: 4px;
      }
   }

   .cart-simple-order {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .simple-order__head{
         font-style: normal;
         font-weight: 600;
         font-size: 20px;
         line-height: 26px;
         position: relative;
         width: fit-content;

         &:after{
            content: " ";
            display: block;
            position: absolute;
            height: 1px;
            width: 100%;
            background: black;
            bottom: 0;
            left:0;

            @media print {
               display: none;
            }
         }
      }

      .hr{
         margin-top:17px;
         margin-bottom:10px;

         @media print {
            page-break-after: avoid;
            page-break-before: avoid;
         }
      }

      .chosen-wrapper{
         display: flex;
         flex-direction: column;
         width: 100%;

         .chosen-item{
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-between;



            .chosen-item-left{
               display: flex;
               width: 70%;
               justify-content: space-between;

               @include mobile{
                  flex-direction: column;
               }
               /* @media print{
                  display: flex;
                  width: 75%;
                  justify-content: flex-start;
               } */

               @media print{
                  @include mobile{
                     flex-direction: row;
                     width: 77%;
                  }

                  @include desktop{
                  width: 60%;
                  }
                 /*  width: 78%; */
               }

               .chosen-item__color{
                  width: 50%;

                  @include mobile{
                     width: 100%;
                  }

                  @media print {
                     width: 77%;
                  }
               }

               .item-size{
                  width: 50%;

                  @media print{
                     width: 27%;
                     display: flex;
                     justify-content: end;

                     @include mobile {
                        width: 50%;
                     }
                  }

                  @include mobile{
                     width: 100%;
                  }
               }

               
            }

            .chosen-item-right{
               display: flex;
               align-items: center;
               justify-content: space-between;
               width:50%;

               @include mobile {
                  width: 15%;
               }

               @media print {
                  display: flex;
                  justify-content: end;
                  width: 20%;

                  @include mobile {

                  }

                  @include desktop {
                     width: 40%;
                  }
               }

               .right-block-print{
                  width: 12%;

                  @media print{
                     display: flex;
                     align-items: center;
                     width: 100%;

                     @include desktop{
                        width:45%;
                     }
                  }

                  @include mobile {
                     width: 100%;
                  }

                  .order-count{
                     display: flex;
                  }

                  .count-prefix{
                     margin-left:5px;
                  }
               }
            }

            .mobile-flex-wrapper{
               display: flex;
               align-items: center;
            }

            &__color{
               display: flex;
               position: relative;
               align-items: center;
               margin-bottom: 5px;

               @media print{
                  width: 33.333%;
                  margin-bottom: 0;
               }

               .round-color-print{
                  display: none;

                  @media print {
                     display: inline;
                     color:$colorGray4;
                     margin-right:4px;
                  }
               }
      
               .round-color{
                  width: 21px;
                  height: 21px;
                  flex-shrink: 0;

                  @media print {
                     display: none;
                  }
               }

               .round-color__name{
                  max-width: fit-content;
               }
            }

            .item-size,
            .item-cost{
               span{
                  margin-left:8px;
               }

               span.color-gray2.body-16{
                  margin-left:0;

                  @media print {
                     color: $colorGray4;
                  }
               }
            }

            .item-size{
               @media print {
                  width: 33.33333%;
                  margin-left: 0;
               }
            }


            .item-cost{
               margin-right: auto;

               @media print {
                  margin-right:0;
                  margin-left: 30px;
                  width: 70%;
                  display: flex;
                  justify-content: start;

                  @include mobile {
                     width: 100%;
                  }
               }
            }

            .count-print{
               display:none;

               @media print {
                  display:inline;
                  color: $colorGray4;
                  margin-right: 10px;
               }
            }

            .remove-item{
               display: flex;
               height: 34px;
               width: 34px;
               border-radius:50%;
               background-color:$colorGray5;
               align-items: center;
               justify-content: center;
               cursor: pointer;
               flex-shrink: 0;

               @media print {
                  display: none;
               }

               i{
                  display: flex;
                  font-size: 12px;
                  color: $colorGray2;
               }
            }

            .field-count{
               margin-right:30px;

               @media (max-width:330px){
                  margin-right: 0;
               }
               .label{
                  display: none;
               }
               flex-shrink: 0;

               @media print {
                  margin-right:0;
               }
            }

            .input-count{
               border: 1px solid #41A0FF;

               @media print {
                  border:none;
               }
            }

            .field-count.empty .input-count{
               border: 1px solid #ececec;
            }
         }

         .field-input{
            margin-top:10px;
            margin-bottom:20px;

            input{
               border-bottom: 2px solid black;
            }

            &.empty{
               input{
                  border-bottom: 1px solid $colorGray3;
               }
            }
         }

         .simple-order-info{
            display: flex;
            width:100%;
            align-items: center;
            justify-content: flex-end;

            @include mobile {
               display: flex;
               align-items: center;
               justify-content: end;
               -webkit-box-pack: center;
               -webkit-box-align: end;
            }

            @media (max-width: 370px){
               display: flex;
               flex-direction: column;
               align-items: end;
            }

            .simple-order__count,
            .simple-order__cost{
               display: flex;
               align-items: center;

               span{
                  @include mobile {
                     font-size: 17px;
                  }
               }
               

               .number{
                  margin-left: 10px;
               }
            }

            .simple-order__count{
               @media (max-width: 370px){
                  margin-bottom:10px;
               }
               .order-count{
                  margin-left:10px;
               }
            }

            .simple-order__cost{
               margin-left:37px;

               @include mobile {
                  margin-left: 25px;
                  flex-wrap: wrap;
                  justify-content: start;
               }
               .headline-4.color-gray4{
                  margin-right:10px;
               }
            }
         }

         .print-order-info{
            display: none;

            @media print {
               display:flex;
               flex-direction: column;
            }
         }

         .hr-print{
            display: none;
            @media print {
               display:block;
               margin-top: 14px;
               margin-bottom: 14px;
            }
         }

         .profile-commentary{
            margin-top:10px;

            @include mobile {
               margin-bottom: 15px;
            }
         }
      }

      .between-items{
         margin-top:10px;
         margin-bottom:10px;
      }
   }

   .print-order-title{
      display: none;

      @media print {
         display:flex;
         flex-direction: column;
         width: max-content;

         /* .simple-order__head {
            border-bottom: 1px solid #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            position: relative;
            width: fit-content;
        } */


      }
   }
}

.buttons.hide-desktop{
   display: flex;
   justify-content:space-between;
   margin-top: -34px;
   padding: 0 14px;
   background: white;
   padding-bottom: 24px;

   a{
      width: 48%;
      font-size: 14px;
   }
}