.item-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   position: relative;
   width: 100%;
   height: 100%;

   @include mobile{
      padding-bottom: 12px;
   }

   .item-block {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      &__head {
         display: block;
         position: relative;
         width: 100%;
         margin-bottom: 24px;

         @include mobile{
            margin-bottom: 13px;
         }

         &-description {
            display: block;
            margin-top: 13px;
         }

         &-info {
            display: block;
            margin-top: 7px;
            margin-bottom: 7px;
         }

         &-article {
            color: $colorGray2;
         }
      }

      &__content {
         display: flex;
         position: relative;
         width: 100%;
         min-height: 630px;

         @include mobile{
            flex-direction: column;
         }

         &-gallery {
            display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-left: -5px;
    margin-right: 26px;
    margin-top: -5px;
    max-height: 630px;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;

            @include mobile {
               flex-direction: row;
               margin-right: 0;
               overflow-x: scroll;
               width: 100vw;
            }

            &::-webkit-scrollbar {
               width: 0;
            }
           

            &-item{
               border-radius: 4px;
               box-sizing: border-box;
               cursor: pointer;
               display: block;
               height: 117px;
               margin-bottom: 15px;
               margin-top:15px;
               padding: 3px;
               position: relative;
               width: 75px;
               -webkit-background-size: cover;
               background-size: cover;
               background-repeat: no-repeat;
               

              
               @include mobile {
                  flex-shrink: 0;
                  width:256px;
                  height: 395px;
                  margin-right: 19px;
                  margin-bottom: 0;
               }

               @include desktop {
                  &:first-child{
                     margin-top:0;
                  }
                  
                  &.active{
                     padding: 0;
                     border: 3px solid white;
                     filter: drop-shadow(0px 0px 3px #00000040);
                     height:123px;
                     width:81px;
                     border-radius: 7px;
                     margin-top:12px;
                     margin-bottom:12px;

                     &:first-child{
                        margin-top:0;
                     }
                  }
                  &::before{
                     float: left;
                     display: block;
                     content: "";
                     padding-top: 156%;
                  }
               }
              
               img{
                  display: block;
                  width: 100%;
                  height:100%;
                  position: relative;
                  border-radius: 4px;
               }
            }
         }

         &-big-picture {
            display:block;
            position: relative;
            width: 408px;
            height: 630px;
            cursor: pointer;
            flex-shrink: 0;

            img{
               display:block;
               position: relative;
               width: 100%;
               height: 100%;
            }

            &-icon{
               display: block;
               position: absolute;
               bottom: 12px;
               right: 12px;
               background-image: url('../img/icons/fullscreen.svg');
               background-repeat: no-repeat;
               background-position: center;
               border-radius: 50%;
               width: 40px;
               height: 40px;
               background-color: rgba(0, 0, 0, 0.2);
               z-index: 2;
            }
         }

         &-item-info {
            display:flex;
            flex-direction: column;
            position:relative;
            height: fit-content;
            background-color: white;
            margin-left: 27px;
            border-radius: 4px;
            width: 100%;
            padding: 30px;
            box-shadow: 0px 3px 6px rgb(0 0 0 / 5%);
            min-height: 630px;

            @include mobile{
               margin-left: 0;
               margin-top: 7px;
               padding:18px 10px;
            }

            &__head{
               display: block;
               position: relative;

               h2{
                  margin-bottom: 10px;
               }

               p{
                  line-height:18px;
                  margin-top: 0;
                  margin-bottom: 10px;
                  color:$colorGray2;
                  @include mobile {
                     font-size: 12px;
                     line-height:18px;
                     margin-bottom: 18px;
                  }
               }

               &-sizes{
                  display: flex;
                  position: relative;
                  flex-wrap: wrap;
                  width: calc(100% + 6px);
               }

            }

            .hr-dashed.first{
               margin-top:28px;
               margin-bottom: 28px;
               background-image: linear-gradient(
               90deg,#cfcfcf 43%,hsla(0,0%,100%,0) 0);

               @include mobile {
                  margin-top:18px;
               margin-bottom: 18px;
               }
            }

            &__item-parameters{
               display: flex;
               flex-wrap: wrap;
               position: relative;
               width: 100%;

               @include mobile {
                  flex-direction: column;
               }

               .item-compound,
               .item-collection,
               .item-colors,
               .item-description{
                  display:block;
                  flex: 0 0 50%;
                  margin-bottom: 28px;

                  span{
                     color: $colorGray2;
                  }

                  @include mobile {
                     margin-bottom: 18px;
                  }
               }

               .item-description p{ 
                  line-height:21px;

                  @include mobile {
                     font-size: 14px;
                     line-height:21px;
                  }
               }

               .item-description, 
               .item-colors{
                  flex: 0 0 100%;
               }
               .item-colors{
                  &__colors-wrapper{
                     display: flex;
                     margin-top: 8px;
                     flex-wrap: wrap;
                  }
               }
            }

            .hr-dashed.second{
               margin-bottom: 28px;
               background-image: linear-gradient(
               90deg,#cfcfcf 43%,hsla(0,0%,100%,0) 0);

               @include mobile {
                  margin-bottom: 18px;
               }
            }

            button{
               width:100%;
               margin-top: auto;

               @include mobile {
                  width: 100%;
               }
            }
         }
      }
   }


   .item-same-things__wrapper {
      display: block;
      position: relative;
      width: 100%;

      h2{
         margin-top: 34px;
         margin-bottom:30px;
      }

      .item-same-things__cards{
         display:flex;
         flex-wrap: wrap;
         margin-bottom: 50px;
         margin:0 -12px;

         .catalogue-card{
            width:calc(20% - 24px);
            height: auto;
            padding:10px;
            background-color:white;
            border-radius:4px;
            margin: 12px;

            a{
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               height:100%;

               .upper-card-wrapper{
                  display: flex;
                  flex-direction: column;
                  position: relative;

                  .catalogue-card__name{
                     word-wrap: break-word;
                  }
               }
            }

            &__description{
               color: $colorGray2;
            }

            .hr-dashed{
               margin-top: 18px;
               margin-bottom:10px;
            }

            .catalogue-card__price-block{
               display: flex;
               justify-content:space-between;
               align-items: center;

               i{
                 font-size: 14px;
                  transform: rotate(-90deg);
               }
            }

            .same-things-card__image{
               display: block;
               width: 100%;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               border-radius: 4px;
            }

            .same-things-card__image:before {
               content: "";
               display: block;
               float: left;
               padding-top: 143%;
           }
         }
      }
   }
}

.modal-slider-wrapper{
   display: block;
   position: fixed;
   top: 0;
   left:0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0,0.8);
   height:100%;
   width:100%;
   z-index: 9999;

   &__content{
      display: block;
      position: absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%) translateY(-50%);
      width: 714px;
      height: 800px; 
      background-color: gray;

      img{
         display: block;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         height: 100%;
         border-right:1px solid black;
      }
   }
}


.modal-after-product{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,.8);
   z-index: 100;
   
   &.cart{
      /* background: #f2f3f2; */
      position:fixed;
      
      .modal-content{
         top: 56px;
      }

      @include mobile {
         .modal-content{
            width: 100%;
            top: 150px;

            .message-subtitle{
               text-align: center;
               padding: 0 5px;
            }
         }
      }
   }

   .modal-content-status,
   .modal-content{
      display: block;
      position: absolute;
      width: 626px;
      background: white;
      left: 50%;
      transform: translateX(-50%);
      top: 56px;
      border-radius: 4px;
      padding-top: 44px;
      min-height: 287px;

      @include mobile {
         width: 100%;
      }

      .form-message-success{
        

         .form-info-success{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 49px;
            position:relative;

            .close-status-modal{
               position: absolute;
               cursor: pointer;
               color: #979797;
               right: 25px;
               top: -25px;
            }
         
            .icon-block{
               display: flex;
               width: 30px;
               align-items: center;
               justify-content: center;
               height: 30px;
               border-radius: 50%;
               background: #68ce46;
            
               i{
                  color: white;
                  font-size: 15px;
                  height:17px;
               }

               &.error{
                  background: $colorDangerous;

                  i{
                     font-size: 13px;
                     height: 14px;
                  }
               }
            }

            .message-title{
               font-weight: 600;
               font-size: 20px;
               line-height: 26px;
            }

            .message-subtitle{
               font-size: 16px;
               line-height: 152%;
               color:$colorGray3;
               margin-bottom:40px;
            }

            .link-to-cart{
               width: auto;
               margin-bottom: 15px;
            }

            .link-to-product{
               padding: 0 49px;
            }
         }
      }
   }

   .modal-content-status{
      position: sticky;
      top:56px;
      margin:0 auto;
      transform: none;
      left:auto;

      @include mobile{
         width: 100%;
      }
   }

   .modal-content{
      height: 287px;
      
      .link-to-cart{
         padding: 0 49px;
      }
   }
}


//таблица
.table-wrapper{
   display: block;
   width: 100%;
   overflow: auto;

   .choose-table{
      border-collapse:collapse;
      border-spacing:0;
      height: auto;
      margin-top: 27px;
      border: 2px solid #f2f3f2;
      width: 100%;
      box-sizing: content-box;
      margin-left: -2px;

      thead{

         tr:first-child {

            th:first-child {
               min-width: 227px;
               max-width: 227px;
               width: 227px;
               padding-left: 9px;
               text-align: left;
               border-radius: 8px 0 0 0;
            }

            th:last-child {
               border-radius: 0 8px 0 0;
               padding-left: 30px;
               padding-right: 30px;
            }
         }

         th{
            background: #8B8B8B;
            color: white;
            font-size: 12px;
            font-weight: 400;
            padding: 28px 20px;
            height: 37px;
            border: 1px solid #979797;

            &.size{
              /* width: 50px;*/
               height: 37px;
               padding: 0 21px 0 21px;
            }

            &.size-cost{
               padding: 0 5px;
               height: 37px;
               white-space: nowrap;
            }

            &.head-price{
               width: 90px;
               white-space: pre;
            }

            &.head-amount{
               padding-left:3px;
               padding-right: 3px;
               width: 45px;
               white-space: pre;
            }

            &.head-final{
               width: 75px;
               white-space: pre;
            }
         }
      }

      tbody{
         background: #FFFFFF;
         td{
            border: 1px solid #F0F0F0;
         }

         tr{
            td{
               height: 74px;
            }

            td:first-child{
               padding-left: 9px;
               padding-top: 12px;
               padding-bottom: 12px;
            }
         }

         .first-color-cell{
            display: flex;
            align-items: center;

            .color{
               width: 50px;
               height: 50px;
               border: 1px solid #E8E8E8;
               border-radius: 50%;
               margin-right: 10px;
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;
               flex-shrink: 0;
            }

            .color-name{
               font-size: 12px;
               line-height: 152%;
               color: #000000;
               flex-grow: 0;
               width: 38%;
               margin-right: 11px;
            }
         }

         .input-cell{
            .field-count{

               .field.numberic{
                  justify-content: center;

                  .label{
                     font-size: 12px;
                     line-height: 152%;
                     left: 50%;
                     top:53%;
                     transform: translate(-50%,-50%);
                     display: none !important;
                  }
               }
               .input-count{
                  margin-right: 0;
                  width: 39px;
                  height: 32px;
                  font-size: 12px;
                  padding-left: 0;
                  text-align: center;
               }
            }
         }

         .price,.amount,.final{
            font-size: 12px;
            line-height: 152%;
            text-align: center;
         }
      }
   }
}

//блок после таблицы
.final-price{
   margin-top: -2px;
   width: 100%;

   .modal-footer__wrapper{
      padding: 29px 28px;
      background: #E3E3E3;
      border-radius: 0 0 4px 4px;

      .modal-footer-block{
         display: flex;
         justify-content: space-between;

         @include only-mobile{
            flex-direction: column;
         }

         .button{
            width: 157px;

            @include only-mobile{
               width: 100%;
               margin-top: 30px;
            }

            .icon{
               margin-right: 14px;
            }
         }
      }

      label.field{
         margin-top: 30px;
      }
   }
}

//новый вид цвета продукта
.new-kind{
   width: 50px;
   height: 50px;
   border: 1px solid #E8E8E8;
   cursor: pointer;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   transition: border .25s ease;
   margin-bottom: 10px;

   @include desktop{
      &:hover{
         border: 1px solid black;
      }
   }
}

//color popup

.color-popup{
   display: block;
   position: absolute;
   width: 202px;
   height: 202px;
   border: 1px solid #000000;
   border-radius: 4px;
   z-index: 1;

   .wrap{
      width: 100%;
      height: 100%;
      position: relative;

      .background{
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         width: 100%;
         height: 100%;
      }

      .text{
         font-size: 12px;
         line-height: 152%;
         text-align: center;
         color: #FFFFFF;
         background: #000000;
         position: absolute;
         bottom: 0;
         width: 100%;

         &:after{
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            background: #000000;
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: rotate(45deg) translateX(-50%);
         }
      }
   }
}

//hover для size
.item-block__content-item-info{
   .size-button{
      cursor: pointer;
      transition: all .25s linear;

      @include desktop{
         &:hover{
            background: black;
            color: white;
         }
      }
   }
}


//new slider

#slider_trigger{
   .swiper-button-next,.swiper-button-prev{
      background: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);

      & img{
         width: 8px;
      }
   }

   .swiper-button-prev{
      left: 10px;
   }

   .swiper-button-next{
      right: 10px;
   }

   .swiper-pagination{
      display: flex;
      position: absolute;
      width: 100%;
      bottom: 14px;
      z-index: 1;
      justify-content: center;
      align-items: center;

      .swiper-pagination-bullet{
         display: block;
         width: 12px;
         height: 12px;
         background: #FFFFFF;
         opacity: 0.3;
         border-radius: 50%;
         margin-right: 9px;
         transition: all .2s linear;

         &:last-child{
            margin-right: 0;
         }

         &.swiper-pagination-bullet-active{
            background: #FFFFFF;
            opacity: 1;
         }
      }
   }
}

.new-slider{
   .swiper-slide{
      background-size: cover;
   }
}