.switcher-control{
   display: block;
   position: relative;
   width:92px;

   .switcher-view{
      display: flex;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      height:40px;
      width:92px;
      background: #FFFFFF;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
      border-radius:20px;
      border: 2px solid white;

      input {
         position: absolute;
         opacity: 0;
         width: 0;
         height: 0;
      }
   
       input:checked + .bg-slide-item {
         transform: translateX(44px);
      }

      input:checked + .bg-slide-item + .view-card .icon {
         color: $colorGray2;
      }

      input:checked + .bg-slide-item + .view-card + .view-row .icon{
         color: black;
      }


      .bg-slide-item {
         display: block;
         position: absolute;
         z-index: 1;
         left: 0;
         top: 0;
         bottom: 0;
         width: 50%;
         background-color: $colorGray5;
         border-radius: 18px;
         transition: .4s ease;
      }

      .item {
         display: flex;
         position: relative;
         z-index: 2;
         align-items: center;
         justify-content: center;
         width: 50%;
         font-size: 14px;
         line-height: 1;
         height: 100%;
         cursor: pointer;
   
         .icon {
           color: black;
           transition: .4s ease;
         }
       }
       .view-row .icon {
         color: $colorGray4;
       }
   }
}

.switcher{
   display: block;
   position: relative;
   width: 52px;

   .switcher-gray{
      display: flex;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      width: 52px;
      border-radius: 36.5px;
      background: transparent;
      border: 2px solid #e5e5ea;
      overflow: visible;
      transition: .4s ease;

      &.active{
         border: 2px solid #4cd964;
         background-color: #4cd964;

         & .bg-slide-item{
            transform: translateX(19px);
         }
      }
   }

   input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
   }

   input:checked + .bg-slide-item {
      transform: translateX(19px);
   }

   .bg-slide-item {
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      width: 27px;
      height: 27px;
      background-color: white;
      border-radius: 50%;
      transition: .4s ease;
      border: 0.5px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.16), 0px 3px 1px rgba(0, 0, 0, 0.1);
      transform: translateX(0);
   }
}
