.gallery-modal__arrow {
    position: absolute;
    top: calc(50% - 15px);
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 14px;
    font-size: 40px;
    transition: .1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    i {
        font-size: 15px;
        color: white;
    }
    
    @include mobile {
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;
        border-radius: 10px;
        i {
            font-size: 10px;
        }
    }
    &.swiper-button-next {
        right: 0;
        padding-left: 2px;
    }
    &.swiper-button-prev {
        left: 0;
        padding-right: 2px;
        img {
            display: block;
            transform: rotate(180deg);
        }
    }
    &.swiper-button-disabled {
        opacity: 0.4;
    }
}

.gallery-modal {
    .modal-content {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: calc(100% - 190px);
        margin: 85px auto !important;
        padding: 0 45px;
        @include mobile {
            height: auto;
            padding: 65px 0 80px !important;
            margin-top: 33px !important;
        }
        .gallery-modal__slider {
            width: 100%;
            height: 100%;
            border-radius: 2px;
            overflow: hidden;
            display: flex;
            align-items: center;
            @include mobile {
                height: auto;
                align-items: flex-start;
            }
            .swiper-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                transition-property: transform;
                box-sizing: content-box;
            
            }
            .swiper-slide {
                display: flex;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: contain;
                background-size: contain;
                @include mobile {
                    height: auto;
                    &:before {
                        display: block;
                        float: left;
                        content: '';
                        padding-top: 105%;
                    }
                }
            }
        }
        .gallery-modal__slider-caption {
            width: 100%;
            position: absolute;
            bottom: -35px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text {
                display: inline-block;
                margin-right: 15px;
                font-weight: 800;
                font-size: 16px;
                line-height: 23px;
                color: white;
            }
            @include mobile {
                padding: 0 17px;
                flex-wrap: wrap;
                justify-content: flex-start;
                bottom: 0;
                .text {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
