h1, .h1{
   @extend .headline-1;
   margin: $indent20 0; 

   
}

h2, .h2{
   @extend .headline-2;
   margin: $indent20 0;

   &:first-child {
      margin-top: 0;
   }
}

h3, .h3 {
   @extend .headline-3;
   margin: $indent16 0;
 
   &:first-child {
     margin-top: 0;
   }
}

h4, .h4 {
   @extend .headline-4;
   margin: $indent16 0;
 
   &:first-child {
     margin-top: 0;
   }
}

h5, .h5 {
   @extend .headline-5;
   margin: $indent16 0;
 
   &:first-child {
     margin-top: 0;
   }
}
 
h6, .h6 {
   @extend .headline-6;
   margin: $indent16 0;
 
   &:first-child {
     margin-top: 0;
   }
}

p{
   @extend .body-16;
   margin: $indent4 0;
   
   &:first-child {
      margin-top: 0;
    }
  
    &:last-child {
      margin-bottom: 0;
    }
}

a, .link {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

b, strong{
   font-weight: 900;
}

.section {
   display:block;
   position: relative;
   z-index: 10;
   margin: 0;
   background-color: #f2f3f2;
   overflow:hidden;
   height: calc(100% - 60px);
}