$fontBase: 'TT Firs Neue', Arial, sans-serif;
 
$colorDangerous:#d42b2b;
$colorGray5:#ececec;
$colorGray4:#cfcfcf;
$colorGray3:#b0b0b0;
$colorGray2:#979797;

$indent4: 4px; 
$indent6: 6px;
$indent8: 8px;
$indent10: 10px;
$indent12: 12px;
$indent14: 14px;
$indent16: 16px;
$indent18: 18px;
$indent20: 20px;
$indent22: 22px;
$indent24: 24px;
$indent32: 32px;
$indent40: 40px;
$indent48: 48px;
$indent60: 60px;
$indent80: 80px;

$borderRadius2: 2px;

$boxShadow: 0px 3px 6px rgba(0, 0, 0, 0.05);